body {
    background-color: black;
}

body li {
  list-style: none;
}

.registerComponent {
    background-color: #00141E;
}

.loginComponent {
    background-color: #00141E;
}

.formComponentPlaceholder {
    background-color: #001E28;
    border-color: #001E28;
    color: darkgray;
}

.componentShowPassword {
    position: absolute;
    left: 14.5rem;
    bottom: 9.6rem;
    padding: 0;
}

.componentShowPasswordLogin {
    position: absolute;
    left: 14.5rem;
    bottom: 9.4rem;
    padding: 0;
}

.registerComponent p {
    font-size: 0.9em;
}

.pLogin {
    font-size: 0.7em;
}

.toRegisterLink {
    color: gray;
}

.favoritesButton {
    background-color: #212529;
    border-color: #212529;
    color: darkgray;
}

.custom-button {
    width: 175px;
    height: 35px;
    background-color: black;
    font-size: 0.9em;
    display: flex;
    padding: 5px 10px;
    border: none;
    margin-bottom: 0px; 
    border-radius: 0;
  }
  
.custom-button-icon {
    margin-right: 5px;
    width: 20px;
    height: 16px;
  }

  
.league-block-container {
    position: absolute; /* Pode ser 'relative', 'fixed' ou 'absolute', dependendo do comportamento desejado */
    top: 300px; /* Define a distância do topo */
    left: 20px; /* Define a distância da esquerda */
   
  }

.leagueEvents {
    background-color: #01203E;
    width: 700px;
    border-color: #01203E;
}


/* Bloco dos resultados das classificações */
.leagueStandings {
    background-color: #0b2129; /* Cor de fundo suave */
    border: 1px solid #ddd; /* Borda leve */
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
  }
  
  /* Header com título e botões */
  .leagueStandings .d-flex {
    align-items: center;
    justify-content: space-between;
    color: #fff;
  }
  
  .leagueStandings h5 {
    font-size: 1.25rem;
    color: #fff; /* Cor do título */
    margin: 0;
  }
  
  .leagueStandings img {
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Ícone circular */
    margin-right: 10px;
  }
  
  /* Botão de favorito */
  .leagueStandings .btn {
    font-size: 0.9rem;
  }
  
  .leagueStandings .btn:hover {
    background-color: #013a63;
    border-color: #013a63;
  }
  
  /* Lista de classificações */
  .leagueStandings .list-group {
    padding: 0;
    margin: 0;
  }
  
  .leagueStandings .list-group-item {
    background-color: #01203E; /* Fundo branco para itens */
    border: none; /* Remove bordas entre os itens */
    padding: 15px 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
  }

  /* Separação entre as seções de StandingsItem */
  .list-group-item div{
    display: flex;
    gap: 25px; /* Espaçamento entre os itens */
    flex-wrap: nowrap; /* Impede quebras de linha */
  }
  
  /* Texto dentro do bloco das classificacoes ( */
  .list-group-item span:first-child {
    font-weight: bold;
    color: #fff  ; 
    flex: 3; /* Faz com que esta coluna ocupe o espaço necessário */
  text-align: center; /* Alinha o texto à esquerda */
  flex-wrap: nowrap; /* Impede quebras de linha */
  
  }

  /* Dados intermediários (Jogos, Vitórias, etc.) */
.list-group-item span:not(:first-child):not(:last-child) {
  flex: 3; /* Espaço proporcional fixo */
  color: #fff;
  font-weight: bold;
  text-align: center;
  flex-wrap: nowrap; /* Impede quebras de linha */
}
  
  /* Pontos em destaque */
  
 .list-group-item span:last-child {
      flex:3; /* Mantém largura ajustada ao conteúdo */
     
      font-weight: bold;
      text-align: center;
      color: #fff;
      flex-wrap: nowrap; /* Impede quebras de linha */
  }

  .list-group-item-event div {
    font-size: 0.7rem;
    display: flex;
    justify-self: start;
    margin-left: 6rem;
  }

  .list-group-item-event {
    background-color: #0b2129;
    border-bottom: 1px solid grey;
  }

  .list-group-item-event button {
    width: 100%;
    background-color: #0b2129;
    border-color: #0b2129;
  }

  .list-group-item div { /* Alinhar texto */
    display: flex;
    justify-content: space-between; /* Alinha as colunas principais */
    gap: 10px; /* Espaçamento entre os elementos */
  }
  
  
  .list-group {
    margin-bottom: 1rem;
  }

  .team-name {
    font-size: 1.2em;
  }

  /* Separação entre as seções de StandingsItem */
  .list-group-item-event div + div {
    margin-top: 8px;
  }

  .leagueEvents-navLink {
    color: #FFCD00; 
    font-weight: bold;
    text-decoration: none; 
    font-size: 0.8rem;
    margin-top: 0.75rem;
  }

  .leagueEvents-navLink:hover {
    text-decoration: underline;
    color: #FFCD00; 
  }

  .leagueEvents-favorite {
    display: inline;
    margin-top: 0;
    padding-top: 0;
  }

  .time-event {
    position: absolute;
    right: 88%;
    margin-top: 0.7rem;
  }

  .time-event-end {
    position: absolute;
    right: 86%;
    margin-top: 0.7rem;
    font-size: 0.9em;
    color: #6c757d;
    font-weight: 400;
    
  }

  .time-event-live {
    position: absolute;
    right: 89%;
    margin-top: 0.7rem;
    color: red;
  }

  .score {
    position: absolute;
    left: 88%;
  }

  .score-end {
    position: absolute;
    left: 88%;
    font-size: 1.2em;
    font-weight: bold;
  }

  .score-live {
    position: absolute;
    left: 88%;
    font-size: 1.2em;
    font-weight: bold;
    color: red;
  }

  .buttonDate {
    background-color: black;
    border-color: black;
  }

  .buttonDate:hover {
    background-color: black;
    border-color: black;
  }


  /* Styles for LeagueEvents and LeagueResults components */

/* Container styling for league events and results */
.leagueResults {
  border: 1px solid #01203E;
  background-color: #F5F5F5;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


/* Nav link styling */
.leagueResults-navLink {
  font-size: 16px;
  font-weight: bold;
  color: #01203E;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.leagueResults-navLink:hover {
  color: #FFCD00;
}

/* Button for expanding/collapsing */
.leagueResults button {
  transition: transform 0.2s ease;
}

.leagueResults button:hover {
  transform: scale(1.1);
}

/* List group styling */
.list-group {
  margin-top: 10px;
}

/* List group item styling */
.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.list-group-item:last-child {
  border-bottom: none;
}

img { /* Imagem dentro da pagina da liga */
  border-radius: 10%;
  object-fit: cover;
  width: 100px; 
  height: auto; /* Mantém a proporção da imagem */
}


/* Button styling for individual items */
button {
  background-color: #01203E;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #FFCD00;
  color: #01203E;
}
