
.registerComponent {
    background-color: #00141E;
}

.loginComponent {
    background-color: #00141E;
}

.formComponentPlaceholder {
    background-color: #001E28;
    border-color: #001E28;
    color: darkgray;
}

.componentShowPassword {
    position: absolute;
    left: 14.5rem;
    bottom: 9.6rem;
    padding: 0;
}

.componentShowPasswordLogin {
    position: absolute;
    left: 14.5rem;
    bottom: 9.4rem;
    padding: 0;
}

.registerComponent p {
    font-size: 0.9em;
}

.pLogin {
    font-size: 0.7em;
}

.toRegisterLink {
    color: gray;
}