
.registerComponent {
    background-color: #00141E;
}

.loginComponent {
    background-color: #00141E;
}

.formComponentPlaceholder {
    background-color: #001E28;
    border-color: #001E28;
    color: darkgray;
}

.componentShowPassword {
    position: absolute;
    left: 14.5rem;
    bottom: 9.6rem;
    padding: 0;
}

.componentShowPasswordLogin {
    position: absolute;
    left: 14.5rem;
    bottom: 9.4rem;
    padding: 0;
}

.registerComponent p {
    font-size: 0.9em;
}

.pLogin {
    font-size: 0.7em;
}

.toRegisterLink {
    color: gray;
}

.favoritesButton {
    background-color: #212529;
    border-color: #212529;
    color: darkgray;
}


.custom-button {
    width: 175px;
    height: 35px;
    background-color: black;
    font-size: 0.9em;
    display: flex;
    padding: 5px 10px;
    border: none;
    margin-bottom: 0px; 
    border-radius: 0;
  }
  
  .custom-button-icon {
    margin-right: 5px;
    width: 20px;
    height: 16px;
  }
  
  .league-block-container {
    position: absolute; /* Pode ser 'relative', 'fixed' ou 'absolute', dependendo do comportamento desejado */
    top: 300px; /* Define a distância do topo */
    left: 20px; /* Define a distância da esquerda */
  }

